.socialLogin
    button.socialLoginGithub
        span
            i.fab.fa-github
        | Continue With GitHub
    button
        span.socialLoginFacebook
            i.fab.fa-facebook
        | Continue With GitHub